@page
@model WebApp.Pages.Yritused.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Yritus[0].Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yritus[0].Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yritus[0].Koht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yritus[0].Algus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yritus[0].KustutamiseKP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Yritus) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Koht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Algus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KustutamiseKP)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
