@page
@model WebApp.Pages.Osalemised.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Osalemine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osalemine.Isik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osalemine.Isik.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osalemine.Yritus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osalemine.Yritus.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osalemine.Makseviis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osalemine.Makseviis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osalemine.Lisainfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osalemine.Lisainfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osalemine.OsalejateArv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osalemine.OsalejateArv)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Osalemine.KustutamiseKP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Osalemine.KustutamiseKP)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Osalemine.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
