@page
@using WebApp.Domain
@model WebApp.Pages.YrituseDetailid

@{
    ViewData["Title"] = "NULLAM - Osavõtjad";
}

@{
    
    // Üritusel osaleva isiku andmete kuvamiseks
    string GetOsalejaNimiJaArv(Osalemine osalemine)
    {
        if (osalemine.Isik.Tyyp.Equals(EIsikTyyp.Fyysiline))
        {
            return $"{osalemine.Isik.Nimi1} {osalemine.Isik.Nimi2}";
        }
        if (osalemine.Isik.Tyyp.Equals(EIsikTyyp.Juriidiline))
        {
            return $"{osalemine.Isik.Nimi1} [Osaleb: {osalemine.OsalejateArv}]";
        }

        throw new ApplicationException("GetOsalejaNimi funktsioon sai EIsikTyyp väärtuseks tundmatu enumi.");
    }    
    
    // Ürituse puudumise korral placeholder
    string GetYrituseKoht(string input)
    {
        return string.IsNullOrEmpty(input) ? "Asukoht märkimata" : input;
    }

    // "Lisa osaleja" nupu mitteaktiivseks muutmiseks, kui üritus on juba toimunud.
    string DisabledKuiYrituMinevikus()
    {
        return Model.Yritus!.Algus < DateTime.Now ? "disabled=\"disabled\"" : "";
    }
}

<partial name="Shared/_PartialAlertView" model="Model"/>
<partial name="Shared/_PartialTitleView" model="Model"/>

<div class="row pt-3 pb-3 bg-light">
    <div class="mb-2 row justify-content-sm-center">
        <h5 class="pt-2 pb-2 col-4">Osavõtjad</h5>
        <div class="col-sm-4 d-none d-sm-block">
            <p>&nbsp;</p>
        </div>
    </div>
    <div class="mb-2 row justify-content-sm-center">
        <p class="col-sm-2 fw-bold">Ürituse nimi</p>
        <div class="col-sm-6">
            <p>@Model!.Yritus!.Nimi</p>
        </div>
    </div>
    <div class="mb-2 row justify-content-sm-center">
        <p class="col-sm-2 fw-bold">Toimumise aeg</p>
        <div class="col-sm-6">
            <p>@Model!.Yritus!.Algus.ToString("dd.MM.yyyy HH.mm")</p>
        </div>
    </div>
    <div class="mb-2 row justify-content-sm-center">
        <p class="col-sm-2 fw-bold">Toimumise koht</p>
        <div class="col-sm-6">
            <p>@GetYrituseKoht(Model.Yritus?.Koht)</p>
        </div>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Yritus!.Info))
    {
        <div class="mb-4 row justify-content-sm-center">
            <div class="col-sm-8">
                <div class="accordion" id="accordionExample">
                   <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Lisainfo
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          @Model.Yritus.Info
                        </div>
                      </div>
                    </div>
                        </div>
            </div>
        </div>
    }
    @if (Model.Yritus.Osalemised != null && Model.Yritus.Osalemised.Count > 0)
    {
        <div class="mb-2 row justify-content-sm-center">
            <div class="col-sm-8 text-center">
                <h3>Osalejad</h3>
            </div>
            <div class="mb-4 row justify-content-sm-center">
                <div class="col-sm-8 bg-light pe-0 pt-2">
                    <div class="pe-0">
                        <table class="table table-bordered table-secondary table-striped pe-0">
                            <tbody>
                            @if (Model.Yritus.Osalemised != null && Model.Yritus.Osalemised.Count > 0)
                            {
                                @foreach (var _osalus in Model.Yritus.Osalemised)
                                {
                                    <tr>
                                        <td colspan="7">@GetOsalejaNimiJaArv(_osalus)</td>
                                        <td colspan="5">@_osalus.Isik.Kood</td>
                                        <td colspan="3"><a class="link-primary" asp-page="OsalejaDetailid" asp-route-id="@_osalus.Id">Vaata</a></td>
                                        <td colspan="4"><a class="link-danger" asp-page="YrituseDetailid" asp-route-KustutaOsalejaId="@_osalus.Id">Kustuta</a></td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    }
    else
    {
        <div class="mb-2 row justify-content-sm-center">
            <div class="col-sm-8">
                    <div class="alert alert-warning" role="alert">
                      Üritusel puuduvad osalejad
                    </div>
                </div>
            </div>
    }
    <div class="mb-3 row justify-content-sm-center">
                    <div class="col col-sm-4">
                        <a asp-page="Index"><button class="btn btn-secondary col" type="button">Tagasi</button></a>
                        <a asp-page="OsalejaLisamine" asp-route-YrituseId="@Model.Yritus.Id"><button class="btn btn-success col" @DisabledKuiYrituMinevikus() type="button">Lisa osaleja</button></a>
                    </div>
                    <div class="col col-sm-4">
                        &nbsp; <p>&nbsp;</p>
                    </div>
                </div>
</div>