@page
@model WebApp.Pages.Isikud.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Isik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isik.Tyyp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isik.Tyyp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isik.Nimi1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isik.Nimi1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isik.Nimi2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isik.Nimi2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isik.Kood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isik.Kood)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Isik.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
